@import "tailwindcss";
@layer components{
.hero-div{
    background-image: url('./../src/images/page-title.jpg');
    /* width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat; */
}
}